pandas
numpy
matplotlib
seaborn
scikit-learn
librosa
soundfile
requests
streamlit
openai
openai-whisper
transformers
accelerate
torch
sentence-transformers
bertopic
umap-learn
hdbscan
langchain
langchain-openai
langchain-community
langchain-text-splitters
faiss-cpu
jupyter
nbconvert
torchvision
